<html>
  <!-- Head tag -->
  <%- partial('_partial/head') %>
  <body>
    <div class="site" id="site">
      <div class="sidebar" id="sidebar">
        <%- partial('_partial/sidebar') %>
      </div>
      <div class="site-content" id="content">
        <main class="site-main" id="main" role="main">
          <%- body %>
        </main>
      </div>
      <footer class="site-footer" id="colophon">
        <div class="site-info">
          <span>
            powered by
            <a href="https://hexo.io/">
              Hexo
            </a>
            theme by
            <a href="https://github.com/Troy-Yang/hexo-theme-twentyfifteen-wordpress">
              Troy
            </a>
            inspired by
            <a href="https://wordpress.org/themes/">
              wordpress
            </a>
          </span>
        </div>
        <!-- .site-info -->
      </footer>
    </div>
    <%- partial('_partial/components/back-top') %>
    <!-- After footer scripts -->
    <%- partial('_partial/after-footer') %>
  </body>
</html>